@page "/"

@inject IJSRuntime JS

<h3>Dashboard</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("alert", "Setup SchoolYear and Section");
        }
    }
}
