@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <div class="d-flex justify-content-start align-items-center mb-5 w-100">
                <input type="text" class="form-control me-2" placeholder="Search..." style="width: 80%;" />
                <img src="search.png" width="30" height="30" />
            </div>
            @Body
        </article>
    </main>
</div>
