
<div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="">
        <img src="sample_logo.png" alt="School Logo" width="130" height="130" class="d-inline-block align-top" />
    </a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="subject/list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Subjects
            </NavLink>
            <NavLink class="nav-link" href="/students/list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Students
            </NavLink>
            <NavLink class="nav-link" href="/attendance/calendar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Attendance
            </NavLink>
            <NavLink class="nav-link" href="/setup">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Setup
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool ShowSubjectDropdown = false;
    private bool ShowStudentDropdown = false; // New property for student dropdown

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubjectDropdown()
    {
        ShowSubjectDropdown = !ShowSubjectDropdown;
        ShowStudentDropdown = false;
    }

    private void ToggleStudentDropdown()
    {
        ShowStudentDropdown = !ShowStudentDropdown;
        ShowSubjectDropdown = false;
    }
}