<div class="container-fluid d-flex justify-content-center mt-3">
    <a class="navbar-brand mx-auto" href="">
        <img src="sample_logo.png" alt="School Logo" width="130" height="130" class="d-inline-block align-top" />
    </a>
</div>

<div class="alert mt-1 text-center">
    No Available Data - Select Grade Level or Section
</div>
